---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterEnum: true
  AfterControlStatement: Never
  BeforeElse: false
  SplitEmptyFunction: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<Q'
    Priority: 2
  - Regex: '^<'
    Priority: 3
SortIncludes: CaseSensitive
NamespaceIndentation: None
FixNamespaceComments: true
SpaceAfterTemplateKeyword: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
QualifierAlignment: Left
