---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor,
  misc-const-correctness,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-redundant-access-specifiers
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
CheckOptions:
  readability-function-size.LineThreshold: 60
  readability-function-size.StatementThreshold: 80
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: k
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.NamespaceCase: lower_case
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
