# C++ objects and libs
*.a
*.dll
*.dylib
*.la
*.lai
*.lo
*.o
*.slo
*.so
*.so.*

# Qt-es
*.jsc
*.moc
*.prl
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qm
*.qmlc
*_plugin_import.cpp
*build-*
.qmake.cache
.qmake.stash
Makefile*
moc_*.cpp
moc_*.h
object_script.*.Debug
object_script.*.Release
qrc_*.cpp
ui_*.h

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

qtwebengine_dictionaries
whatsie
