[Desktop Entry]
Version=1.0
GenericName=WhatSie
Name[en_US]=WhatSie
Comment=Qt WhatsApp Web Client 
Name=WhatSie
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Keywords=WhatSie;WhatsApp
Exec=whatsie %u
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/whatsapp;
Terminal=false
X-GNOME-UsesNotifications=true
